<div class="table-responsive">
   <table class="table table-dark table-striped table-hover table-bordered border-secondary align-middle" id="table">
      
      <thead>
         <tr class="text-center text-primary align-middle">
            <th class="fit" scope="col">#</th>
            <th class="fit" scope="col">Запит</th>
            <th class="fit" scope="col"> <span class="m-2">Тип запиту</span> </th>
            <th class="" scope="col">Опис</th>
         </tr>
      </thead>

      <tbody>

         <!-- /get_planets -->
         <tr>
            <td class="text-center"> <span class="m-2">1</span> </td>
            <td> <span class="m-4">/get_planets</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає список усіх планет із бази даних</td>
         </tr>

         <!-- /get_spacestations -->
         <tr>
            <td class="text-center"> <span class="m-2">2</span> </td>
            <td> <span class="m-4">/get_spacestations</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає список усіх космічних станцій із бази даних</td>
         </tr>

         <!-- /get_goods -->
         <tr>
            <td class="text-center"> <span class="m-2">3</span> </td>
            <td> <span class="m-4">/get_goods</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає список усіх товарів із бази даних</td>
         </tr>

         <!-- /get_cured_goods -->
         <tr>
            <td class="text-center"> <span class="m-2">4</span> </td>
            <td> <span class="m-4">/get_cured_goods</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає список усіх виписаних товарів із бази даних</td>
         </tr>

         <!-- /set_planets -->
         <tr>
            <td class="text-center"> <span class="m-2">5</span> </td>
            <td> <span class="m-4">/set_planets</span> </td>
            <td class="text-center"> <span>PUT</span> </td>
            <td class="ps-4">Оновлює список усіх планет в базі даних</td>
         </tr>

         <!-- /set_spacestations -->
         <tr>
            <td class="text-center"> <span class="m-2">6</span> </td>
            <td> <span class="m-4">/set_spacestations</span> </td>
            <td class="text-center"> <span>PUT</span> </td>
            <td class="ps-4">Оновлює список усіх космічних станцій в базі даних</td>
         </tr>

         <!-- /set_goods -->
         <tr>
            <td class="text-center"> <span class="m-2">7</span> </td>
            <td> <span class="m-4">/set_goods</span> </td>
            <td class="text-center"> <span>PUT</span> </td>
            <td class="ps-4">Оновлює список усіх товарів в базі даних</td>
         </tr>

         <!-- /set_cured_goods -->
         <tr>
            <td class="text-center"> <span class="m-2">8</span> </td>
            <td> <span class="m-4">/set_cured_goods</span> </td>
            <td class="text-center"> <span>PUT</span> </td>
            <td class="ps-4">Оновлює список усіх виписаних товарів в базі даних</td>
         </tr>

         <!-- /get_last_planet_id -->
         <tr>
            <td class="text-center"> <span class="m-2">9</span> </td>
            <td> <span class="m-4">/get_last_planet_id</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає останнє значення id для планет</td>
         </tr>

         <!-- /get_last_spacestation_id -->
         <tr>
            <td class="text-center"> <span class="m-2">10</span> </td>
            <td> <span class="m-4">/get_last_spacestation_id</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає останнє значення id для космічних станцій</td>
         </tr>

         <!-- /get_last_good_id -->
         <tr>
            <td class="text-center"> <span class="m-2">11</span> </td>
            <td> <span class="m-4">/get_last_good_id</span> </td>
            <td class="text-center"> <span>GET</span> </td>
            <td class="ps-4">Повертає останнє значення id для товарів</td>
         </tr>

         <!-- /set_identificators -->
         <tr>
            <td class="text-center"> <span class="m-2">12</span> </td>
            <td> <span class="m-4">/set_identificators</span> </td>
            <td class="text-center"> <span>PUT</span> </td>
            <td class="ps-4">Оновлює список усіх останніх id в базі даних</td>
         </tr>

      </tbody>
   </table>
</div>