<head use_db="<%- use_db %>" server_port="<%- server_port %>">

   <!-- Задаємо кодування сторінки -->
   <meta charset="UTF-8">

   <!-- Задаємо заголовок сторінки -->
   <title><%= title %></title>

   <!-- Задаємо опис сторінки -->
   <meta name="description" content="Програмування веб-додатків">

   <!-- Задаємо viewport -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- Підключення Bootstrap CSS -->
   <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

   <!-- Підключення власних стилів -->
   <link rel="stylesheet" href="/web_application/frontend/css/styles.css">
   <link rel="stylesheet" href="/web_application/frontend/css/scrollbar.css">

</head>