   <tr class="text-center text-primary align-middle">
      <th class="fit" scope="col">#</th>
      <th class="" scope="col">Назва</th>
      <th class="" scope="col">Вага</th>
      <th class="" scope="col">Станція</th>
      <th class="" scope="col">Планета</th>
      <th class="fit" scope="col">. . .</th>
   </tr>
</thead>
<tbody>
   <tr class="text-center text-secondary" id="table_empty">
      <td colspan="6"> <span class="mx-5 fs-4">Немає даних для відображення</span> </td>
   </tr>