<div *ngIf="performer">
  <h2>Performer details</h2>
  <form>

    <label for="performerId">id:
      <input #performerId type="number" name="performerId" required disabled value={{performer.id}}>
    </label><br>

    <label for="performerNumber">number:
      <input #performerNumber type="number" name="performerNumber" required disabled value={{performer.number}}>
    </label><br>

    <label for="performerExperience">experience:
      <input #performerExperience type="number" name="performerExperience" required value={{performer.experience}}>
    </label><br>

    <label for="performerWorkers">workers:
      <input #performerWorkers type="number" name="performerWorkers" required value={{performer.workers}}>
    </label><br>

    <button (click)="editPerformer(performerId.value,performerNumber.value,performerExperience.value,performerWorkers.value)">Edit</button>
    <button (click)="deletePerformer(performer)">Delete</button>
  </form>
</div>
