/* Стилі для кнопок керування даними */
.btn-control {
   cursor: pointer;
}

/* Стилі для кнопок керування даними при наведенні */
.btn-control:hover {
   color: #868686;
   transition: color 0.3s;
}
.layered-image {
  background: linear-gradient(to right, transparent, mistyrose),
      url("https://mdn.mozillademos.org/files/15525/critters.png");
}
/* Задання ширини стовпців таблиці за вмістом елементів */
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

/* Налаштування поведінки числового поля вводу */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Налаштування поведінки числового поля вводу для браузера Firefox */
input[type=number] {
  -moz-appearance: textfield;
}